@model List<Pizza>
@{
    Layout = "_LHeader";

    void PizzaCard(Pizza pizza) {
        <div class="col-lg-4 col d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="@pizza.ImageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@pizza.Name</h5>
                    <p class="card-text">@pizza.Description</p>
                </div>
            </div>
        </div>
    }
}

<div class="container mt-5">
    <div class="row g-5 align-content-between">
        @foreach (var pizza in Model) {
            PizzaCard(pizza);
        }
    </div>
</div>